body {
  background-image: url('fondo.jpg');
  background-size: cover;
}

.titulo-brillante {
    color: #fff;
    text-shadow: 
        0 0 5px #f0f, 
        0 0 10px #f0f, 
        0 0 20px #f0f, 
        0 0 40px #f0f, 
        0 0 60px #f0f;
}
